/* geral */
* {
    margin:0;
    padding:0;
}
a {
    text-decoration: none;
    color:black;
}
img {
    width:100%;
}
body {
    background-color: #f5f5f5;
}
/* header */
header {
    display:flex;
    flex-flow: column;
    align-items: center;
    background-color: #ffffd7 ;
    border-bottom: 2px black solid;
}
.header-bar {
    display: flex;
    flex:row;
    align-items: center;
    max-width:1400px;
    width:100%;
    justify-content: space-between;
    gap:20px;
    padding: 20px;
    box-sizing: border-box;
}
header h1 {
    font-size:48px;
}
nav ul {
    display: flex;
    gap:20px;
    list-style: none;
}
nav a {
    font-size: 30px;
    font-weight: bold;
}
nav a:hover {
    color:blue;
}
/* header para os blogs: */
.header-bar-blog {
    display: flex;
    flex:row;
    align-items: center;
    max-width:1400px;
    width:100%;
    gap:20px;
}
.header-bar-blog h1 {
    font-size:30px;
}
.header-bar-blog nav a {
    font-size: 20px;
}
/* Forms */
.form-titulo {
    text-align: center;
    margin: 40px 0;
    font-size: 40px;
}
form {
    display:flex;
    flex-flow:column wrap;
    gap:10px;
    align-items:center;
    width:100%;
    max-width: 900px;
    margin:0 auto;
}
.form-redux {
    max-width: 400px;
}
form div {
    display:flex;
    flex-flow:column wrap;
    width: 100%;
}
label {
    font-size:20px;
}
input {
    font-size:20px;
}
.upload-imagem input {
    font-size:20px;
}
.form-aviso {
    color:red;
    font-size: 40px;
    margin: 30px 0;
}
button {
    font-size:40px;
    margin-top:30px;
    padding: 10px;
    width:150px;
    align-self: center;
}
/* barra de Titulo-Usuário */
.barra-usuario {
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    gap:20px;
    width: 100%;
    padding:10px;
    box-sizing: border-box;
}
.barra-usuario-imagem {
    width:25%;
    max-width:300px;
}
.barra-usuario-imagem img {
   border:2px black solid;
}
.barra-usuario-titulo {
   font-size: 35px;
}
/* grade de blogs index */
.blog-grid {
    display:flex;
    margin:20px;
    text-align:center;
    justify-content:center;
}
.blog-holder {
    display:flex;
    width:20%;
    background-color: #ffffd7;
    flex-flow:column wrap;
    margin:20px;
    border: 2px solid black;
    padding:20px;
}
.blog-holder-title  {
    margin-bottom:10px;
    font-size:30px;
    font-weight:bold;
}
.blog-holder-tags {
    display:flex;
    flex-flow:row wrap;
    margin-top:20px;
    justify-content:center;
}
.blog-holder-tags div {
    margin:3px 3px;
    padding:5px 5px;
    border-radius:8px;
    background-color:lightgray;
}
.blog-criar-novo {
    display:flex;
    flex-flow:column wrap;
    align-items: center;
}
.blog-criar-novo a {
    font-size:30px;
    color:green;
}
/* index-blog */
.blog-main {
   display:flex;
   flex-flow: column wrap;
   align-items: center;
   max-width: 1200px;
   width:100%;
   margin:0px auto;
}
.blog-main h1 {
    margin:20px 0px;
    font-size:120px;
}
.blog-main-desc {
    font-size:30px;
    margin-bottom: 20px;
}
